= title "About us"
= description "About us, about railsjazz.com"
= keywords "About us, about railsjazz.com"

.page_container.box_top
#about_page.box_middle
  .page_block
    %h1 About
    %p RailsJazz is a small company, for that reason, excellent customer service is our main focus. We will work closely with you to make sure you are always satisfied.
    %p We like interesting people with innovative ideas and we would be happy to help such people to achieve their dreams.
    %p 
      Send us a #{link_to 'message', new_contact_path} with some information about you and the project and we will follow up with you as soon as possible!
    %div#message
      %span Call: +38 068 540 6235
      %span Email: #{mail_to 'hi@railsjazz.com'}
      %span Skype: #{link_to 'igorkasyanchuk', 'skype:igorkasyanchuk?chat'}
.page_container.box_bottom