= title "Home"
= description "Ruby on Rails, Sinatra, odesk"
= keywords "Ruby on Rails, Sinatra, odesk"

#featured_projects
#featured_projects_list
  - Project.featured.all.each_with_index do |project, i|
    .project_preview_frame{:class => i % 3 == 0 ? 'project_preview_frame0' : ''}
      = link_to (image_tag project.preview_image.url), project
      .project_description
        %h3
          = link_to project.title, project
.clear

%ul#quotes
  %li
    %span
      = image_tag 'home_titlte_wedevelopment.png', :alt => "web development"
      Ruby on Rails, jQuery, HAML/SASS, Heroku, Google Maps, Thinking Sphinx, Chargify, etc
  %li
    %span
      = image_tag 'home_title_design.png', :alt => "web design"
      Webdesign, Logo & Branding. Adobe Photoshop & Illustrator.
  %li
    %span    
      = image_tag 'home_titlte_seo.png', :alt => "seo"
      Search Engine Optimization (Google, Yandex).