- # http://wakerupper.com/faq
%h2.callout
  Ruby, Ruby on Rails development 
%h3.callout
  for startups and other business apps
%ol.what
  %li
    .title Your idea
    .about We believe you have an idea which not allows you to sleep well.
  %li
    .title Our resources, knowledge, experience, intuition
    .about Power of qualified development and business processes.
  %li 
    .title Cooperative work project
    .about Talk, talk and one more time talk about project status, updates. We don't want to hide problems, we'd like to resolve them.
  %li
    .title Successful solution
    .about Satisfied you and clients. Now it's your time to sleep.

%h2.callout Portfolio
.portfolio
  = image_tag 'p/p1_small.jpg'
  = image_tag 'p/p2_small.jpg'
  = image_tag 'p/p3_small.jpg'
  = image_tag 'p/p4_small.jpg'
  = image_tag 'p/p5_small.jpg'
  = image_tag 'p/p6_small.jpg'
.clear

%h2.callout Technologies
%ul.technologies
  %li.red Ruby
  %li.green Ruby on Rails
  %li.yellow Sinatra
  %li.red HTML/JS/CSS
  %li.brown jQuery
  %li.green Google Map
  %li.yellow HAML/SASS
  %li.green Thinking Sphinx
  %li.red SEO
  %li.brown Great Ideas :)
.clear

