= title "Manage Projects"

.add.right
  = link_to "Add Project", [:new, :admin, :project], :class => 'add_button'
.clear  

%table.zebra
  %tr
    %th Name
    %th Category
    %th Featured
    %th Actions
  - @projects.each do |project|
    %tr{ :class => cycle(:odd, :even)}
      %td= project.title
      %td= project.project_category.name
      %td= project.featured ? "Featured" : "Normal"
      %td
        = link_to 'show', [:admin, project], :class => 'show_button'
        = link_to 'edit', [:edit, :admin, project], :class => 'edit_button'
        = link_to 'remove', [:admin, project], :method => :delete, :confirm => 'Are you sure?', :class => 'delete_button'
        = link_to "screenshots(#{project.screenshots.count})", [:admin, project, :screenshots], :class => 'index_button'
  %tr
    %td{:colspan => 4}
      %strong Total: #{Project.count}