= title @project.title

%h1.left #{@project.title}
.add.right
  = link_to "Edit", [:edit, :admin, @project], :class => 'edit_button'  
.clear

%p
  = @project.featured ? "Featured" : "Normal"

%p
  %strong= @project.project_category.name

%p
  %i= @project.description
  
%p
  = image_tag @project.image.url
  
%p
  = image_tag @project.preview_image.url  

%p
  = link_to "View All Projects", [:admin, :projects], :class => 'index_button'
  
