= title @project.title

%h1.left #{@project.title}
.add.right
  = link_to "Edit", [:edit, :admin, @project], :class => 'edit_button'  
.clear

%p
  = link_to 'Public View', @project, :target => "_blank"

%p
  = @project.featured ? "Featured" : "Normal"
  
%p
  %strong= @project.completed_on
  
%p
  %i= @project.technologies  

%p
  %strong= @project.project_category.name

%p
  %i= @project.description
  
%p
  %strong Image for Project page
  %br
  = image_tag @project.image.url
  
%p
  %strong Image for Home page
  %br
  = image_tag @project.preview_image.url  
  
%p
  %strong Portfolio Image
  %br
  = image_tag @project.portfolio_image.url  

%p
  = link_to "View All Projects", [:admin, :projects], :class => 'index_button'
  
