%h1 Contacts

- if @contacts.count > 0
  %table.zebra
    %thead
      %tr
        %th Date
        %th Name
        %th Email
        %th Message
        %th Actions
    
    %tbody
      - for contact in @contacts
        %tr{ :class => cycle(:odd, :even) }
          %td= contact.created_at.to_s(:short)
          %td= contact.name
          %td= contact.email
          %td= contact.message
          %td= link_to 'remove', resource_path(contact), :class => 'delete_button', :method => :delete, :confirm => 'Delete?'
          
- else
  %p
    Empty list.          