%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'railsjazz', 'admin', 'footer'
    = yield :css
    = csrf_meta_tag
    = javascript_include_tag 'jquery-1.4.4.min'
    %script{:type => 'text/javascript', :charset => 'utf-8'}
      $(document).ready(function() {
      = yield :on_ready
      });
      = yield :js
  %body
    #root
      #content
        .container= raw(flash_messages)
        .container= yield
      #root_footer
    #footer
      = render :partial => '/shared/footer'