!!! XML
!!!

%html{html_attrs}
  %head
    %title= (yield :title)
    ==<meta content="#{yield :description}" name="description" />
    ==<meta content="#{yield :keywords}" name="keywords" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag 'railsjazz', 'footer'
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
    <link type="image/x-icon" rel="icon" href="/favicon.ico" />
  %body
    #wrap
      #main
        #index
          #header
            .container
              = link_to (image_tag 'Logo.png', :id => 'logo'), root_path
              #menu
                = link_to 'Portfolio', portfolio_path, :id => 'portfolio_link', :class => active?("/portfolio")
                = link_to 'About us', about_path, :id => 'about_link', :class => active?("/about")
                /= link_to 'Blog', services_path, :id => 'blog_link', :class => active?("/blog")
                = link_to 'Contact us', new_contact_path, :id => 'contact_link', :class => active?("/contacts/new")
          #content= yield
    #footer
      .container
        = link_to 'skype', 'skype:igorkasyanchuk?chat', :id => 'skype_link'
        = mail_to 'hi@railsjazz.com', {}, :id => 'email_link'
        %span.copy 
          &copy; RailsJazz.com
          %br
          Ukraine
        .divider
        #latest_projects
          = image_tag 'footer_latestprojects.png'
          %ul
            - Project.latest.each do |project|
              %li= link_to project.title, project
        .clear